body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
    padding-left: 5px;
}

h3 {
    padding-left: 5px;
}

span {
    color: orange;
}

section {
    display: flex;

}

.width {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

.width img {
    width: 63%;
    height: 95%;
    padding-left: 150px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 45px;
    margin-left: 5px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
}

.psize {
    text-align: justify;
    padding-left: 5px;

}

h2 {

    color: orange;
}

.link-button2 {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 45px;
    border-radius: 10px;
    color: white;
    font-weight: 800;

}

.psize1 {
    text-align: justify;
    padding-right: 10px;
    padding-bottom: 30px;
}